@model APTA.Models.STUDENT

@{
    ViewBag.Title = "Delete Attendee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Attendee</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>STUDENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGISTRATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGISTRATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT.NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
